<h1>Admin Panel</h1>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>
<%= link_to "Authenticate with Google!", '/auth/google_oauth2' %><br>
<%= link_to "Load", '/load_queries' %><br>
<br>
<% @queries.each do |query| %>
<br>
	<fieldset>
	<legend>Query: </legend>
		Body: <%= query.body %>
		Reply: <%= query.reply %>
		Replied: <%= query.replied %>
		<% if query.user_id %>
			Assigned to: <%= query.user.email %>
		<% else %>
			Unassigned
			<form action="/update_query" method="POST">
				<select name="user_id">
					<% @users.each do |user| %>
						<% unless user.admin%>
							<option value=<%= user.id %>><%= user.email %></option>
						<% end %>
					<% end %>
				</select>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag 'query_id', query.id%>
				<input type="submit" value="Update Query">
			</form>
	<% end %>
	</fieldset>
<br>
<br>
<%end%>